
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="styles.css" rel="stylesheet">
    <script src="js/vue.global.js"></script>
    <title>MP3</title>
</head>

<body>
   <div id="div">
    <div id="sidebar" class="sidebar">
        <div>
            <i class="fas fa-align-center fa-rotate-90 fa-3x"></i>
        </div>
        <div>
            <a data-bs-toggle="modal" data-bs-target="#upload">Upload Music</a>
        </div>
        <div>
            <a>All Songs</a>
        </div>
        <div class="my-3">
            <a data-bs-toggle="modal" data-bs-target="#playlist">Create Playlist</a>
        </div>
           
        <div v-for="pls in playlists">
            <a>{{pls.playlist}}</a>
        </div>

    </div>
    <div id="main">
            <input type="text" class="form-control w-50" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
        <div class="mt-5">
            <h1>{{headerT}}</h1>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="s in song">
                            <td align="center"><i class="fas fa-play"></i></td>
                            <td>{{s.title}}</td>
                            <td>{{s.artist}}</td>
                            <td>{{s.album}}</td>
                            <td>{{s.duration}}</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>


        </div>

        <div class="range"> 
                <input type="range" class="form-control-range w-100">
            <div class="player d-flex justify-content-center align-items-center">
                <i class="fas fa-backward"></i>
                <i class="fas fa-play"></i>
                <i class="fas fa-forward"></i>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
                </div>
                <div class="modal-body">
                    <div @drop="drop" @dragover="dragover" class="drag">
                        <p v-if="file.length != 0"> {{file[0].name}}</p>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" @click="fup" class="btn btn-dark">Upload</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>s
    <div class="modal fade" id="playlist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
                </div>
                <div class="modal-body">
                    <input class="create-playlist-input" v-model= "music">
                </div>
                <div class="modal-footer">
                    <button @click="button" class="btn btn-dark">Create</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <audio id="r" preload="metadata"> </audio>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/jsmediatags.min.js"></script>
</body>

</html>
