body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 190px;
    padding-top: 50px;
    z-index: 1;
    overflow-y: auto;
    background: red;

}

#sidebar div i {
    font-size: 100px;
    padding: 20px;
    margin-left: 20px;
   
}

#sidebar div a {
    display: block;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

#main {
    height: 100vh;
    width: 100%;
    padding: 40px;
    padding-left: 230px;
    position: relative;
}

.input-group .btn-outline-secondary {
    background: #fff !important;
    border-color: #fff;
}

.input-group .form-control {
    background: #fff !important;
    border-color: #fff !important;
    padding-left: 0;
    outline: none;
}

table {
    width: 100%;
}

table thead {
    background: red;
}

td,
th {
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
}

.range {
    margin-top: 40vh;
}

.player i {
    font-size: 60px;
    padding: 45px 25px;
    color: #000;
    cursor: pointer;
}


.modal-header {
    background: #000;
}

.modal-title {
    font-size: 28px;
    color: white;
}

.drag {
    height: 70px;
    width: 100%;
    background: grey;
}

.create-playlist-input {
    height: 40px;
    width: 100%;
    background: grey;
    border: none;
}

