
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="styles.css" rel="stylesheet">
    <script src="js/vue.global.js"></script>
    <title>Todo App</title>
</head>

<body>
    <div id="div">
        <div id="sidebar" class="sidebar">
            <div>
                <!-- <i class="fas fa-align-center fa-rotate-90 fa-3x"></i> -->
            </div>
            <!--  <div>
            <a data-bs-toggle="modal" data-bs-target="#upload">Upload Music</a>
        </div>
        <div>
            <a @click = "displaysong">All Songs</a>
        </div> -->
            <div class="my-3">
                <a data-bs-toggle="modal" data-bs-target="#playlist">Create Task</a>
            </div>

            <div v-for="(pls, index) in lists">
                <div class="d-flex justify-content-between align-items-center class">
                    <a @click="showlists(index)" class="text-truncate">{{pls.name}}</a>
                    <div class="plylst_x">
                        <div class="dropdown">
                            <i @click="savelistindex(index)" class="far fa-caret-square-down" id="dropdownMenuLink" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                <li><a @click="deletelist(index)" class="dropdown-item" href="#">Delete</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Add" href="#">Add task</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Edit" href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div id="main" v-show="show==true">
            <div class="mt-5">
                <h1>{{headerT}}</h1>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
<!--
                            <tr v-if="tasks[listindex].length == 0">
                                <td class="text-center" colspan="6">Empty</td>
                            </tr>
-->
                            <tr v-for="(s, index) in tasks[listindex]">
                                <td>{{s.task}}</td>
                                <td><i @click="deletemusic(index)" class="fas fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="playlist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add List</h5>
                    </div>
                    <div class="modal-body">
                        <input class="create-playlist-input" v-model="list">
                    </div>
                    <div class="modal-footer">
                        <button @click="addplaylist" class="btn btn-dark" data-bs-dismiss="modal">Create</button>
                        <button type="button" class="btn btn-outline-dark cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                    </div>
                    <div class="modal-body">
                        <input class="create-playlist-input" v-model="task">
                    </div>
                    <div class="modal-footer">
                        <button @click="addTask" class="btn btn-dark" data-bs-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-outline-dark cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>        
        <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit List</h5>
                    </div>
                    <div class="modal-body">
                        <input class="create-playlist-input" v-model="editlst">
                    </div>
                    <div class="modal-footer">
                        <button @click="editlist" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-outline-dark cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--   <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD TASK</h5>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th></th>
                           
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr v-if = "notinplaylist.length == 0"><td class="text-center text-dark" colspan="6">Empty</td></tr>
                        <tr v-for="(s, index) in notinplaylist">
                            <td class="text-dark">{{s.title}}</td>
                            <td class="text-dark"><i @click = "addmusic(index)"class="fas fa-plus"></i></td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div> -->


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/jsmediatags.min.js"></script>
</body></html>
