* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: rgba(189, 210, 255, 1);
}

.nav a {
    color: black;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    opacity: 5;
    text-align: left;
    text-decoration: none;
}

.bg1 img {
    width: 100%;
    border: solid 15px rgba(189, 210, 255, 1);
    height: 515px;
}

.brd {
    width: 100%;
    background: rgba(189, 210, 255, 1);
    height: 55px;
}

.perfume {
    font-family: Mr Dafoe;
    font-weight: 400;
    font-size: 40px;
    opacity: 1;
    text-align: left;
    text-decoration: underline;
    color: rgba(223, 191, 61, 1);
    margin-left: 20px;
}

.bg2 img {
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.bg2 {
    background: red;
    padding: 20px 50px !important;
}

.contact {
    font-family: Mukta;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    border-top: solid 10px rgba(189, 210, 255, 1);
    color: white;
    text-align: center;
}
.foot{
    width: 100%;
    height: 49px;
    background: rgba(27, 27, 27, 1);
    overflow: hidden;
}
.foot img{
    width: 100%;
    height: 90%;
    
}
.v1_2 {
    width: 993px;
    height: 742px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v2_4 {
    width: 993px;
    height: 742px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4_45 {
    width: 993px;
    height: 54px;
    background: url("../images/v4_45.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 689px;
    left: 0px;
    overflow: hidden;
}

.v4_59 {
    width: 993px;
    height: 49px;
    background: rgba(189, 210, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v4_44 {
    width: 993px;
    height: 49px;
    background: rgba(27, 27, 27, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 0px;
    overflow: hidden;
}

.v5_9 {
    width: 224px;
    height: 33px;
    background: url("../images/v5_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 701px;
    left: 0px;
    overflow: hidden;
}

.v5_6 {
    width: 224px;
    height: 13px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v5_7 {
    width: 185px;
    height: 13px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    overflow: hidden;
}

.v4_1 {
    margin-left: 748px;
    width: 128px;
    height: 43px;
    background: url("../images/v4_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 697px;
    left: 121px;

}

.v4_60 {
    width: 993px;
    height: 222px;
    background: url("../images/v4_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 442px;
    left: 0px;
    overflow: hidden;
}

.v4_10 {
    width: 993px;
    height: 160px;
    background: rgba(254, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 62px;
    left: 0px;
    overflow: hidden;
}

.v4_11 {
    width: 136px;
    color: rgba(223, 191, 61, 1);
    position: absolute;
    top: 0px;
    left: 21px;
    font-family: Mr Dafoe;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}

.v4_42 {
    width: 159px;
    height: 152px;
    background: url("../images/v4_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 802px;
    overflow: hidden;
}

.v4_39 {
    width: 149px;
    height: 153px;
    background: url("../images/v4_39.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 36px;
    overflow: hidden;
}

.v4_47 {
    width: 166px;
    height: 150px;
    background: url("../images/v4_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 224px;
    overflow: hidden;
}

.v4_49 {
    width: 150px;
    height: 150px;
    background: url("../images/v4_49.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 618px;
    overflow: hidden;
}

.v4_52 {
    width: 150px;
    height: 151px;
    background: url("../images/v4_52.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 428px;
    overflow: hidden;
}

.v5_5 {
    width: 36px;
    height: 36px;
    background: url("../images/v5_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 708px;
    left: 453px;
    overflow: hidden;
}

.v4_50 {
    width: 100px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 687px;
    left: 447px;
    font-family: Mukta;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v4_2 {
    width: 993px;
    height: 120px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v3_3 {
    margin-left: -80px;
    width: 500px;
    height: 300px;
    background: url("../images/garry.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 88px;
    border: 5px solid rgba(189, 210, 255, 1);

}

.v5_11 {
    width: 100%;
    height: 395px;
    background: url("../images/v5_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    overflow: hidden;
}

.v4_5 {
    width: 502px;
    height: 41px;
    background: rgba(189, 210, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 502px;
    overflow: hidden;
}

.v4_43 {
    width: 502px;
    height: 41px;
    background: rgba(189, 210, 255, 1);
    opacity: 1;
    position: absolute;
    top: 348px;
    left: 0px;
    overflow: hidden;
}

.v5_10 {
    width: 126px;
    height: 25px;
    background: url("../images/v5_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 146px;
    overflow: hidden;
    margin-left: 650px;

}

.v4_3 {
    width: 59px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 17px;
    opacity: 5;
    text-align: left;
    text-decoration: none;
}

.v4_4 {
    width: 59px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 67px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

.v4_8 {
    width: 512px;
    height: 300px;
    background: url("../images/sara.png");
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 500px;
    border: 10px solid rgba(189, 210, 255, 1);
}

.v5_8 {
    width: 34px;
    height: 34px;
    background: url("../images/v5_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 708px;
    left: 490px;
    overflow: hidden;
}
